<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/client.js"> </script>
</head>
<body>
<div>
  <div class="center">
    <div class="title">Upload your MRI Scans</div>
    <p>
      Identify <strong> tumerous growths </strong> in your brain
    </p>
    
    <div class="content">
      <div class="no-display">
        <input id="file-input"
               class="no-display"
               type="file"
               name="file"
               accept="image/*"
               onchange="showPicked(this)">
      </div>
      <button class="choose-file-button" type="button" onclick="showPicker()">Select Image</button>
      
      <div class="upload-label">
        <label id="upload-label">No file chosen</label>
      </div>
      
      <div>
        <img id="image-picked" class="no-display" alt="Chosen Image" height="200">
      </div>
      
      <div class="analyze">
        <button id="analyze-button" class="analyze-button" type="button" onclick="analyze()">Analyze</button>
      </div>
      
      <div class="result-label">
        <label id="result-label"></label>
      </div>
      
      <div class="learn-more-refs">
        <p style="font-size:20px"> Learn More </p>
        <a href="https://www.mayoclinic.org/diseases-conditions/brain-tumor/symptoms-causes/syc-20350084"
           style="font-size:20px" target="_blank"> Mayo Clinic </a>
        <br>
        <a href="https://www.cancer.net/coping-with-cancer/caring-loved-one/caring-person-with-brain-tumor-or-metastatic-brain-cancer"
           style="font-size:20px" target="_blank"> Cancer.NET </a>
        <br>
        <a href="https://www.google.com/search?q=brain+tumour&rlz=1C1GCEA_enSG876SG876&oq=brain+tumour&aqs=chrome.0.69i59l3j35i39j69i61j69i60.5625j0j4&sourceid=chrome&ie=UTF-8"
           style="font-size:20px" target="_blank"> Google Search </a>
        <br>
      </div>
    </div>
  </div>
</div>
</body>
</html>
