h1 {
  font-style: italic;
  color: white;
  text-align: center;
  border: 2px solid black;
  background-color: gray;
  font-size: 50px;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
}

h2{
  color: orange;
}

.analyze {
    margin-top: 5em;
}
button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #edb321;
    border-radius: 2px;
    background-color: #edb321;
    font-size: 13px;
    color: #ffffff;
}
